<footer class="footer">
  <div class="contact">
    <ul>
      <li><a href="mailto:{{ site.email }}"><img src="{{ site.baseurl }}assets/icons/at-solid.svg" alt="Email" class="contact-icon"></a></li>
      <li><a href="https://github.com/{{ site.github }}"><img src="{{ site.baseurl }}assets/icons/github.svg" alt="Github" class="contact-icon"></a></li>
      <li><a href="https://linkedin.com/in/{{ site.linkedin }}"><img src="{{ site.baseurl }}assets/icons/linkedin.svg" alt="LinkedIn" class="contact-icon"></a></li>
      <!--
      <li><a href="https://stackoverflow.com/users/{{ site.stackoverflow }}"><img src="{{ site.baseurl }}assets/icons/stack-overflow.svg" alt="Stack Overflow" class="contact-icon"></a></li>
      <li><a href="https://twitter.com/{{ site.twitter }}"><img src="{{ site.baseurl }}assets/icons/twitter.svg" alt="Twitter" class="contact-icon"></a></li>
      <li><a href="https://facebook.com/{{ site.facebook }}"><img src="{{ site.baseurl }}assets/icons/facebook.svg" alt="Facebook" class="contact-icon"></a></li>
      <li><a href="https://youtube.com/{{ site.youtube }}"><img src="{{ site.baseurl }}assets/icons/youtube.svg" alt="Youtube" class="contact-icon"></a></li>
      <li><a href="https://discordapp.com/users/{{ site.discord }}"><img src="{{ site.baseurl }}assets/icons/discord.svg" alt="Discord" class="contact-icon"></a></li>
      -->
    </ul>
  </div>
	<i>Website made by <a href="https://karunasangam.com">Karuna Sangam</a></i>
</footer>
