
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ultra&display=swap');

// /**
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');


:root {
  --header-font-style: normal;
  --header-font-weight: normal;
  --header-font-family: 'Montserrat', sans-serif;
  
  --nav-font-style: normal;
  --nav-font-weight: normal;
  
  --body-font-family: 'Hind', sans-serif;
}

/**
:root {
  --header-font-family: 'Sacramento', cursive;
  --body-font-family: 'Alice', serif;
}
**/

/**
:root {
  --header-font-family: 'Ultra', serif;
  --body-font-family: 'Roboto Mono', monospace;
}
**/

/**
:root {
  --header-font-family: 'Quicksand', sans-serif;
  --body-font-family: 'Quicksand', sans-serif;
}
**/



/**
:root {
  --header-font-family: 'Montserrat', sans-serif;
  --body-font-family: 'Hind', sans-serif;
}
**/


/**
:root {
  --header-font-family: 'Playfair Display', serif;
  --body-font-family: 'Lato', sans-serif;
}
**/
